h1{
    text-align: center;
}

.vvzhL {
    font-weight: 600!important;
    line-height: 20px!important;
    font-size: 17px!important;
    margin: 0 40px 10px!important;
    color: #999!important;
    text-align: center!important;
}

.jumbotron {
    background-color: rgb(252, 248, 248);
}