h1{
    text-align: center;
}

.vvzhL {
    font-weight: 600!important;
    line-height: 20px!important;
    font-size: 17px!important;
    margin: 0 40px 10px!important;
    color: #999!important;
    text-align: center!important;
}

.pdt50 {
    padding-top: 30px!important;
}

.header-home {
    padding-bottom: 30px;
}