<div>
  <div class="navbarEditProfile">
    <a href="/profile">
      <div class="circle">
          <svg viewBox="0 0 24 24" class="left-arrow">
              <g>
                <path d="M20 11H7.414l4.293-4.293a1 1 0 0 0-1.414-1.414l-6 6a1 1 0 0 0 0 1.414l6 6a.996.996 0 0 0 1.414 0 1 1 0 0 0 0-1.414L7.414 13H20a1 1 0 1 0 0-2z"></path>
              </g>
          </svg>
      </div>
    </a>
    <div class="bar">
      <h2>{{title}}</h2>
    </div>
    <div class="btnsave">
      <form (ngSubmit)="submitForm(form)">
        <div class="submit">
          <button type="submit" [disabled]="processing">Save</button>
        </div>
      </form>
    </div>
  </div>
    <form class="editProfileForm" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
        <label>Name</label>
        <input placeholder="Add your name" type="text" name="username" [(ngModel)]="user.username" #usernameField="ngModel" [disabled]="processing"minlength="6" />
        <div class="counterLetter">0/50</div>
        <div *ngIf="error" class="validation">
          <div [ngSwitch]="error.code">
            <p *ngSwitchCase="'username-not-unique'">Username is already in use</p>
            <p *ngSwitchDefault>An unexpected error occured, pleased try again</p>
          </div>
        </div>
      </div>
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
          <label>Bio</label>
          <textarea placeholder="Add your Bio" type="text" name="biography" [(ngModel)]="user.biography" #biographyField="ngModel" [disabled]="processing" maxlength="160"></textarea>
          <div class="counterLetter">0/160</div>
          <!-- <input placeholder="Add your Bio" type="text" name="biography" [(ngModel)]="user.biography" #biographyField="ngModel" [disabled]="processing"/> -->
          <div *ngIf="feedbackEnabled && biographyField.errors">
            <p *ngIf="biographyField.errors.required" class="validation">biography required</p>
          </div>
      </div>
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
          <label>Email</label>
          <input placeholder="Add your email" type="email" name="email" [(ngModel)]="user.email" #emailField="ngModel" [disabled]="processing"/>
          <div *ngIf="feedbackEnabled && emailField.errors">
            <p *ngIf="emailField.errors.required" class="validation">email required</p>
          </div>
      </div>

      <div>
          <div class="avatar-container">
            <img src="{{url + '/get-avatar/'}}" alt="" class="avatar">
          </div>
          <p>
            <!-- <label for="">Upload avatar</label> -->
            <input class="inputAvatar" type="file" name="file" ng2FileSelect [uploader]="uploader" placeholder="Upload avatar" accept="image/jpeg,image/png,image/webp" (change)="FileChangeEvent($event)" />
          </p>
      </div>
    </form>
    <!-- <form (ngSubmit)="submitAvatar(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      <div *ngIf="user.image">
        <img src="{{url + user}}" alt="">
      </div>
      <label for="">Upload avatar</label>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader" placeholder="Upload avatar" accept="image/jpeg,image/png,image/webp" (change)="FileChangeEvent($event)" />
      <button type="submit" [disabled]="processing">Upload avatar</button>
    </form> -->
    
  </div>