<div class="col-lg-5">
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="col-lg-12">
      <h3>Update profile</h3>
      <p>{{user?.username}}</p>
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">username required</p>
        </div>
      </div>
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="user.email" #emailField="ngModel" [disabled]="processing"/>
          <div *ngIf="feedbackEnabled && emailField.errors">
            <p *ngIf="emailField.errors.required" class="validation">email required</p>
          </div>
        </div>
  
      <div class="field submit">
        <button type="submit" [disabled]="processing">Update Profile</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
        <div *ngIf="error" class="validation">
          <div [ngSwitch]="error.code">
            <p *ngSwitchCase="'not-found'">Username or password are incorrect</p>
            <p *ngSwitchDefault>An unexpected error occured, pleased try again</p>
          </div>
        </div>
      </div>
    </form>

    
    <form>
        <fieldset>
          <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
        </fieldset>
        <button (click)="submitAvatar()"> submit </button>
      </form>
  
  </div>