<div>
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      <h1>Update User</h1>
      <p>UserData: {{user?.username}}</p>
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">username required</p>
        </div>
      </div>
  
      <div class="field submit">
        <button type="submit" [disabled]="processing">Update</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
        <div *ngIf="error" class="validation">
          <div [ngSwitch]="error.code">
            <p *ngSwitchCase="'not-found'">Username or password are incorrect</p>
            <p *ngSwitchDefault>An unexpected error occured, pleased try again</p>
          </div>
        </div>
      </div>
    </form>

    
    <form>
        <fieldset>
          <legend> Phone info </legend>
          <label> Brand* </label>
          <input type="text" [(ngModel)]="newPhone.brand" name="brand" required />
      
          <label> Name* </label>
          <input type="text" [(ngModel)]="newPhone.name" name="name" required />
      
          <label> Specs </label>
          <input type="text" #spec />
          <button (click)="addSpec(spec.value); spec.value = ''"> add </button>
      
          <ul>
            <li *ngFor="let spec of newPhone.specs"> {{ spec }} </li>
          </ul>
          <small *ngIf="!newPhone.specs.length"> This phone has no specs :( </small>
      
          <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
      
        </fieldset>
        <button (click)="submit()"> submit </button>
      </form>
  
  </div>