<header id="site-header" class="col-lg-12">
  <div class="container navigation col-lg-12">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}" class="navbar navbar-default">
      <div *ngIf="loading" class="container-fluid">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user" class="dropdown container-fluid">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
            <!-- <img src="" alt="avatar user"> -->
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/profile']">Your profile</a>
          <a class="dropdown-item" [routerLink]="['/profile']">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/profile-edit']">Edit profile</button>
        <!-- <a [routerLink]="['/profile']">{{user.username}}</a> -->
        <!-- <a (click)="logout()" class="btn btn-danger">Logout</a> -->
      </div>
      <div *ngIf="!loading && anon" class="container-fluid">
        <a [routerLink]="['/']" class="navbar-brand">{{title}}</a>
        <a [routerLink]="['/login']">
          <span class="glyphicons glyphicons-log-in"></span>Login</a>
        <a [routerLink]="['/signup']">Signup</a>
      </div>
    </div>
  </div>
</header>
  
<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>
  
<footer id="site-footer" class="card text-center">
  <div class="container card-header">
    Gallito Network by Gabriel Garcia
  </div>
  <div class="card-body">
      <h5 class="card-title">Ironhack</h5>
    </div>
</footer>
