<header id="site-header">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && anon" class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand"><img src="../favicon.ico" alt="">{{title}}</a>
      </div>
    </div>
</header>
  
<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>
  
<footer [ngClass]="{'is-user': user, 'is-anon': anon}" id="site-footer" class="text-center">
  <div *ngIf="!loading && anon">
    <p>SocialPío by Gabriel Garcia</p>
    <h5>Ironhack</h5>
  </div>
</footer>
