<header id="site-header">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && anon" class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand"><img src="../favicon.ico" alt="">{{title}}</a>
      </div>
    </div>
</header>
  
<div id="site-main" class="container" [ngClass]="{'is-user': user, 'is-anon': anon}">
  <div *ngIf="user && router.url === '/home' ||  router.url === '/list-users'">
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <img src="{{url + '/get-avatar/'}}" />
          <p>{{user.username}}</p>
          <li><a [routerLink]="['/profile']"><i class="fas fa-user-alt"></i> Profile</a></li>
          <a [routerLink]="['/home']"><li><i class="fas fa-list-ul"></i> List</li></a>
          <a [routerLink]="['/home']"><li><i class="far fa-bookmark"></i> Bookmarks</li></a>
          <a [routerLink]="['/home']"><li><i class="fas fa-bolt"></i> Moments</li></a>
          <a (click)="logout()" [routerLink]="['/login']"><li><i class="fas fa-sign-out-alt"></i> Log out</li></a>
      </ul>
    </div>
    <ul id="home">
      <li>
        <a href="/home">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/list-users']">
          <i class="fas fa-search" id="people"></i>
        </a>
      </li>
    </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>
</div>
  
<footer [ngClass]="{'is-user': user, 'is-anon': anon}" id="site-footer" class="text-center">
  <div *ngIf="!loading && anon">
    <p>SocialPío by Gabriel Garcia</p>
    <h5>Ironhack</h5>
  </div>
</footer>
