<div class="phone">
    <div class="content">
        <div class="drop image"></div>
        <div>
            <img src="{{url + '/get-avatar/'}}" alt="" class="avatar">
        </div>
        <div class="name">{{user.username}}</div>
        <div class="tag">@{{user.username}}</div>
        <div class="text">{{user.biography}}</div>
        <a href="/profile-edit"><div class="edit">Edit profile</div></a>
        <div class="lives">
            <span class="count">{{following}}</span><span class="what">Following</span>
        </div>
        <div class="problems">
            <span class="count">{{followed}}</span><span class="what">Followers</span>
        </div>
        <div class="divider"></div>
        <div *ngFor="let publication of publications" class="tweet">
            <div class="card-tweet">
                <span class="username">{{user.username}}</span>
                <p>{{publication.text}}</p>
                <div class="tweet-icons">
                    <div class="tweet-icons"><i class="far fa-comment-dots"></i></div>
                    <div class="tweet-icons"><i class="fas fa-retweet"></i></div>
                    <div class="tweet-icons like"><i class="far fa-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <button class="botonF1">
                <span><i class="fas fa-feather-alt"></i></span>
            </button>
        </div>
        <div class="bar image">
            <div class="background"></div>
            <a href="/home">
                <div class="circle">
                    <svg viewBox="0 0 24 24" class="left-arrow">
                        <g>
                        <path d="M20 11H7.414l4.293-4.293a1 1 0 0 0-1.414-1.414l-6 6a1 1 0 0 0 0 1.414l6 6a.996.996 0 0 0 1.414 0 1 1 0 0 0 0-1.414L7.414 13H20a1 1 0 1 0 0-2z"></path>
                        </g>
                    </svg>
                </div>
            </a>
            <div class="bar-name">{{user.username}}</div>
            <div class="tweets">{{tweets}} Tweets</div>
        </div>
    </div>
</div>      
      